Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [5]:
def sym_check(n):
    return str(n) == str(n)[ ::-1]

In [8]:
sym_check(7227)

True

In [9]:
sym_check(12567)

False

In [10]:
sym_check(44444)

True

In [11]:
sym_check(9939)

False

In [12]:
sym_check(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [13]:
def multiply_numbers(s):
    nums = [int(x) for x in s.split(', ')]
    product = 1
    for num in nums:
        product *= num
    return product

In [16]:
multiply_numbers("1, 2, 3, 4")

24

In [18]:
multiply_numbers("54, 75, 453, 0")

0

Question 3


Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

In [23]:
def square_digits(n):
    str_n = str(n)
    squared_str = ''
    for digit in str_n:
        squared_str += str(int(digit)**2)
    return int(squared_str)

In [24]:
square_digits(9119)

811181

In [25]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [29]:
def sort_list(lst):
    lst_unique =[]
    for i in lst:
        if i not in lst_unique:
            lst_unique.append(i)
    return lst_unique

In [30]:
sort_list([1, 3, 3, 5, 5])

[1, 3, 5]

In [31]:
sort_list([4,4,4,4])

[4]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [40]:
def mean_digits(n):
    str_n = str(n)
    sum_str = 0
    for digit in str_n:
        sum_str += int(digit)
    mean = sum_str / len(str_n)
    return mean

In [41]:
mean_digits(512)

2.6666666666666665

In [43]:
mean_digits(44)

4.0